.h-input {
  padding: 1rem;
  background: $h-input-bg;
  border: none;
  font-size: 18px;
  color: $h-input-color;
  width: 100%;
  border-radius: $h-input-border-radius;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $h-input-placeholder-color;
    opacity: $h-input-placeholder-opacity;
  }
}